<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.sang.mapper.TabTrainMapper">
    <insert id="add"></insert>
    <update id="update"></update>
    <delete id="delete"></delete>
    <select id="getAll" resultType="org.sang.bean.Entity.TabTrain">

    </select>
</mapper>